<div class="top-bar">
    Contactez-nous au (514) 560-7111 ou catherine_messier@hotmail.com
</div>
<header>
    <img src="image/Logo_CM_2_transparent_Gradient_2.png" alt="Logo Catherine Messier Designer & Finition INC." class="logo">
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="Pages/about.html">À propos</a></li>
            <li><a href="Pages/services.html">Services</a></li>
            <li><a href="Pages/portfolio.html">Portfolio</a></li>
            <li><a href="Pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
